
body {
  font-size: .98rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  /*position: fixed;*/
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 10px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
@media (max-width: 768px){
	.small_screen{
		width:100%;
		height:fit-content;
	}
}
@media (min-width: 768px){
	.small_screen{
		width:100%;
		height:100vh;
	}
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link.inactive {
  color: #B3ACAA;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

/*
 * Navbar
 */

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.sidebar .user-info{
position:relative;
border-bottom:1px solid #eee;
} 

.sidebar .user-info .image{
	text-align:center;
} 
.sidebar .detail{
	text-align:center;
} 
.sidebar .user-info .image img{

-webkit-border-radius:50%;
Error:-moz-border-radius:50%;
Error:-ms-border-radius:50%;
border-radius:50%;
width:80px;
vertical-align:bottom !important;
border:3px solid #fff;
box-shadow:0px 5px 5px 0px rgba(44,44,44,0.2);
} 

.img{
max-width:100%;
border-radius:1px;
vertical-align:middle;
border-style:none;
} 
