#panel1 {
  margin-top: 50px;
 background: #383838;
 font-size: 30px;
border-style: double;
border-radius: 5px;
border-color: #383838;
}

#panel2 {
margin-top: 2px;
  background: #383838;
 font-size: 30px;
border-style: double;
border-radius: 5px;
border-color: #383838;
}

#titlee {
color : white;
padding: 10px 10px 10px;
}
