.timetable_week th{
    text-align: center;
    width: 10%;
    border-color: #a3a3a3;

}

.timetable_week td{
    text-align: center;
    height: 55px;
    border-color: #a3a3a3;
}

.hours{
    font-weight: bold;
    border-color: #a3a3a3;
}
.meeting_output{
    font-size: 30px;
    margin-top: 30px;
}
.assign_meeting{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}
.reservation_output{
    font-size: 30px;
    margin-top: 30px;
}
.lesson{
    background-color: rgba(0, 131, 255, 0.85);
    color: white;
}
.availableMeeting{
    background-color: rgba(38, 194, 129, 1);
    color: white;
}
.reservedMeeting{
    background-color: rgba(245, 229, 27, 1);
    color: white;
}

.green {background-color: #1bc162;}
.yellow {background-color: yellow;}
.red {background-color: #ff6857;}
.orange {background-color: #ffd62c;}

.output{
    visibility: hidden;
    position: absolute;
}



